.form {
	&-group {
		margin-bottom: 1rem;
	}

	input[type='text'],
	input[type='email'],
	input[type='password'],
	input[type='submit'],
	input[type='button'],
	textarea,
	select {
		display: block;
		width: 100%;
		border: 1px solid #ddd;
		outline: none;
		padding: 1rem;
		font-family: inherit;
		font-size: 1rem;
		resize: vertical;

		&:focus {
			border: 1px solid $primary-color;
			box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
		}
	}
}
